<div class="row row-map">
  <div class="col-md-9">
      <h2 class="heading">Map</h2>
      <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-3 info-container">
    <div id="run-info">
      <h2 class="heading">Run Data</h2>
      <hr/>
      <div class="data-heading">Route Name:</div>
      <p class="data-entry">{{ selectedActivity.name }}</p>
      <hr/>

      <div class="data-heading">Date:</div>
      <p class="data-entry">{{ selectedActivity.date | date:"longDate" }} <p>
      <hr/>

      <div class="data-heading">Total Distance:</div>
      <p class="data-entry">{{ selectedActivity.distance }} miles</p>
      <hr/>

      <div class="data-heading">Comments:</div>
      <p class="data-entry">{{ selectedActivity.comments}}</p>
      <hr/>
    </div>
  </div>
</div>
